.body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}


.main{
width: 700px;
/* height: 500px; */
border-radius: 10px;
padding: 16px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.612);
background-color: #fff;

}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius:8px;
  background-color: #edf5ff;
}

.info span{
  padding: 16px 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.s1, .s3{
  width: 33%;

}
.s2{
  width: 20%;

}


.value{
  width: 100%;
  padding: 24px 48px;
  font-size: 20px;
  word-break: break-all;
}
.show {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:8px;
  background-color: #edf5ff;
}

.show span{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 50%;
}

.show button{
  text-align: center;
  border: none;
  padding: 16px;
  background-color: rgb(50, 122, 254);
  color: #fff;
  border-radius: 500px;
}

.show button:focus{
  border: none;
  outline: none;
}

